// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.status {border-bottom:1px solid #ccc; padding:20px 0;
	p {margin:4px 0;}
	.admin {display:none;}
	&.hover .admin {display:inline;}
	&.hover {background: #fafafa;}
}